{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in history %}
                <tr>
                    <td>{{ i.symbol }}</td>
                    <td>{{ i.shares }}</td>
                    <td>{{ (i.shares * i.price) | usd }}</td>
                    <td>{{ i.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}